/*****************************************/
/*                 GENERAL               */
/*****************************************/

* {
  margin: 0rem;
  padding: 0rem;
}

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  --default-width: 15em;
  --default-height: 15em;
  --light-color: #ffffff;
  --dark-color: #282828;
}

body {
  /* red orange */
  /* background: linear-gradient(-45deg, #FFD100, #FF8A00, #FF5C00, #FF0000); */ 

  /* green blue purple */
  /* background: linear-gradient(45deg, #3FFF8C, #3FFFFF, #3F75FF, #9F3FFF); */

  /* blue */
  /* background: linear-gradient(-45deg, #2D20C2, #3F69FF, #3FA3FF, #81C1FC); */

  /* darker blue */
  background: linear-gradient(-225deg, #050044, #000AFF, #1572FF, #64B5FF);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

main {
  width: 85%;
  margin: 0 auto;
  margin-top: 3em;
}


/************************/
/*  GRADIENT ANIMATION  */
/************************/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/********************/
/*    TYPOGRAPHY    */
/*******************/
h1,
h2,
h3,
h4,
p,
a,
button {
  font-family: 'Open Sans', sans-serif;
  color: var(--light-color);
}

input {
  color: var(--dark-color);
}

h1 {
  font-weight: 900;
  font-size: 4em;
}

h2 {
  font-weight: 800;
  font-size: 2.5em;
}

h3 {
  font-weight: 800;
  font-size: 1.5em;
  margin: 0.5em 0;
}

h4 {
    font-weight: 600;
    font-size: 1.25em;
}

input {
  font-weight: 400;
  font-size: 1rem;
}

button {
  font-weight: 600;
  font-size: 1.06em;
}

footer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 5em 0em 1em 0em;
}

footer p {
  color: black;
  font-weight: 600;
  margin: 2em;
}

footer img {
  width: calc( 0.75 * var(--default-width));
  height: auto;
  margin: 2em;
}




/*****************************************/
/*           HOME PAGE STYLING           */
/*****************************************/

#homePage header {
  width: auto;
  height: 10em;
}

#homePage form {
  width: calc( 1.25 * var(--default-width));
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2.5em;
}

#homePage form input {
  width: auto;
  height: 2em;
  padding: 10px 15px;
  border: solid 0.5px #000000;
  border-radius: 5px;
}

#homePage form button {
  width: var(--default-width);
  height: 3em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-color);
  font-size: 1em;
  font-weight: 400;
}

/* section with gifs */
#homePage #gifContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 4em;
  margin-bottom: 3em;
}

/* gifs */
#homePage #gifContainer img {
  max-width: var(--default-width);
  max-height: var(--default-height);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(40, 40, 40, 0.4);
}



/*****************************************/
/*          DETAIL PAGE STYLING          */
/*****************************************/
#detailPage header {
  width: auto;
  height: 11em;  
}

#detailPage header h2 {
  font-weight: 600;
  font-size: 2em;     
}

/* section */
#detailPage #detailContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
  
/* gifs */
#detailPage #detailContainer img {
  width: calc(1.5 * var(--default-width));
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(40, 40, 40, 0.4);
  margin-right: 3em;
}

/* details */
#detailSection p {
  margin-bottom: 1em;
}

#detailSection a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #detailPage #detailContainer img {
    width: var(--default-width);
    height: auto;
  }
}



